/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap';

$font-family-sans-serif: "Noto Sans", sans-serif;
$presentation-heading-color: #BB2649;
$body-color: #404040;
$link-color: #70001A;


/*-- scss:rules --*/

#title-slide {
  background-size: cover;
  background-color: #fff;
  color: #70001A;
}

.quarto-title-authors {
  color:  #404040;
  font-size: 72px;
  font-family: $presentation-heading-font;
}



section.has-dark-background h1  {
  color: #BB2649;
  font-weight: 500;
}

.title h1 {
  color: #BB2649;
  font-size: 72px;
  text-shadow: none;
  vertical-align: bottom;
}

tbody tr:nth-child(odd) {
  background-color: #DCDCDC;
}

strong {
  color: #70001A;
  font-weight: 900;
}

em {
  color: #70001A;  
  font-style: normal;
}

.small {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

.smallest {
  font-size: 0.25em;
}

.large {
  font-size: 1.25em;
}

.larger {
  font-size: 1.5em;
}

.largest {
  font-size: 3em;
}

.inverse {
  background-color: #369475;
  color: #ffffff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}

ul li {
  padding-bottom: 10px;
}


.reveal pre code {
  word-wrap: normal;
}

.reveal .slide .question {
  border: 5px solid #404040;
  border-left: 50px solid #404040;
  padding: 0.5em;
  background: #BB2649;
  border-radius: 25px;
  margin-top: 10px;
  color: #fff;
}

.reveal .slide .question strong {
  color: #fff;
  font-weight: 1200px;
}

.reveal .slide .question code {
  color: #fff;
}

.reveal .slide .definition {
  border: 5px solid #404040;
  border-left: 50px solid #404040;
  padding: 0.5em;
  background: #404040;
  border-radius: 25px;
  margin-top: 10px;
  color: #fff;
}

.reveal .slide .definition strong {
  color: #fff;
  font-weight: 1200;
}

.question::after {
    content: '';
    position: absolute;
    bottom: 100px;
}

.definition::after {
    content: '';
    position: absolute;
    bottom: 100px;
}

details>summary {
  font-size: 0.5em;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

